.container {
	width: 400px;
	margin-top: 40px;
	padding: 0 20px;
}

.about {
	width: 100%;
    margin-top: 10px;
}

.btn {
	width: 100%;
}

.output {
	margin-top: 40px;
}

#output-path {
	font-weight: bold;
}

.toast-error {
    background-color: rgba(180, 32, 32, 0.75);
    color: white;
}
